.cart-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

.price {
  font-size: 1.125rem;
}

@media (max-width: 575px) {
  .cart-item {
    display: block;
  }
}
