.cart-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--pizzaTitle);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

.price {
  font-size: 1.125rem;
}

@media (max-width: 785px) {
  .cart-item {
    display: block;
  }
}
