@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  --pageHeaderBG: url("../img/brush01.svg");
  --pizzaContainerBG: url("../img/bg.jpg");
  --priceBoxBG: url("../img/brush02.svg");
  --pizzaTitle: #f39200;
}

body {
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

p,
h3,
ul {
  margin: 0;
  padding: 0;
}

.bg-orange {
  background-color: var(--pizzaTitle);
  border-color: var(--pizzaTitle);
  font-weight: bold;
}

.btn-orange {
  color: white;
  background-color: var(--pizzaTitle);
  border-color: var(--pizzaTitle);
}

.btn-outline-orange {
  color: var(--pizzaTitle);
  border-color: var(--pizzaTitle);
}

.btn-orange:hover,
.btn-outline-orange:hover {
  color: white;
  background-color: #f59d18;
  border-color: var(--pizzaTitle);
}

.btn-orange:focus,
.btn-outline-orange:focus {
  color: white;
  background-color: var(--pizzaTitle);
  border-color: #f59d18;
  box-shadow: 0 0 0 0.25rem rgb(217 164 6 / 50%);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  background-color: rgba(124, 124, 124, 0.671);
  border-radius: 1rem;
  background-image: var(--pizzaContainerBG);
  background-repeat: repeat;
  background-size: cover;
  margin: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 575px) {
  .app-container {
    margin: 0;
  }
}
