.app__header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: var(--pageHeaderBG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
