@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  --pageHeaderBG: url("./img/brush01.svg");
  --pizzaContainerBG: url("./img/bg.jpg");
  --priceBoxBG: url("./img/brush02.svg");
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(32, 32, 32);
}

p,
h3,
ul {
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.App {
  background-color: rgba(124, 124, 124, 0.671);
  border-radius: 1rem;
  background-image: var(--pizzaContainerBG);
  background-repeat: repeat;
  background-size: cover;
}

.navbar__menu li {
  list-style: none;
}

.navbar__menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background: lightgray;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.navbar__menu li a:hover {
  cursor: pointer;
  background: tomato;
  color: white;
}

.pizza-container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: var(--pageHeaderBG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-top: 1rem;
}

.App h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pizza-list__element {
  background-color: #444343ef;
  padding-left: 10px;
  border-radius: 1rem;
}
.pizza-list__element:hover {
  cursor: pointer;
  background-color: #505050ed;
}

.chili-rate {
  width: 40px;
  margin: 0 1rem;
}

.pizza-list__element-heading {
  color: #f39200;
  font-family: "Mochiy Pop P One", sans-serif;
}
.sauce-icon {
  width: 30px;
}

.pizza-list__element__first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 1rem;
}

.pizza-list__element__toppings {
  display: flex;
  padding-left: 0;
  margin: 0.5rem 0;
}
.pizza-list__element__toppings li {
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #2f2f2f;
  color: white;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 15px;
  text-transform: capitalize;
}

.pizza-list__element__last {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}

.pricebox {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-family: "Mochiy Pop P One", sans-serif;
  background-image: var(--priceBoxBG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 180px;
  height: 80px;
  padding-right: 3rem;
  font-size: 16px;
  color: white;
}

.orderbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.amountbox .input-group {
  width: 150px;
  height: 30px;
}

.amountbox .input-group button {
  text-align: center;
  width: 40px;
  font-size: 18px;
  font-weight: bold;
}

.amountbox .input-group input {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid gray;
}

.pizza-icon {
  width: 100px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
